body {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant', serif;
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 1.2rem;
    width: 100%;
}

header {
    padding: 1rem 0;
    margin: 2rem;
    text-align: center;
    background-color: #0b0338;
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 2rem;
}

h1 {
    letter-spacing: 0.1em;
    text-transform: lowercase;
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    letter-spacing: 0.05em;
    border: #594d9b 2px solid;
    padding: 1rem;
    color: #594d9b;
    border-radius: 0.5rem;
    margin: 0rem -2rem;
}

h3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: #594d9b;

}

main img {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 800px;
}

nav {
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: rgb(192, 192, 192);
    font-weight: 700;
}

main {
}

section {
    margin-bottom: 2rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
